<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.akueisara.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaipeiActivity" android:label="Taipei" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".TaichungActivity" android:label="Taichung" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".TainanActivity" android:label="Tainan" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".KaohsiungActivity" android:label="Kaohsiung" android:parentActivityName=".MainActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>